@using Microsoft.CodeAnalysis.Editing
@model WebApi.ViewModels.ChatsAndCount

<link rel="stylesheet" href="~/css/chat.css" />

<div class="list-group">

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lista Czatów</h5>
        </div>
    </a>

    @{
        int x = 0;

        if (Model.Count % 2 == 0)
        {
            Model.Count--;
        }
        foreach (var chat in Model.Chats)
        {
            x++;
            if (x > Model.ChatsPerPage) break;
	        <a asp-controller="Chat" asp-action="Get" asp-route-userId="@Model.UserId" asp-route-chatId="@chat.Id" asp-route-pageNumber="1" class="list-group-item list-group-item-action flex-column align-items-start">
		        <div class="d-flex w-100 justify-content-between">
			        <h5 class="mb-1">@chat.Name</h5>
		        </div>
	        </a>
	        <a asp-controller="Chat" asp-action="GetUsersInChat" asp-route-chatId="@chat.Id" asp-route-userId="@Model.UserId" asp-route-pageNumber="1" class="btn btn-primary">Wyświetl użytkowników</a>
        }
    }
        </div>
          
<br/>
@{

    if (Model.ChatsPerPage == 1 || Model.ChatsPerPage == Model.Count)
    {
        for (int i = 0; i < Model.Count / Model.ChatsPerPage; i++)
        {
            <a asp-controller="User" asp-action="GetChats" asp-route-id="@Model.UserId" asp-route-pageNumber="@(i+1)" class="btn btn-primary">@(i + 1)</a>
        }
    }
    else if (Model.ChatsPerPage > 1)
    {

        for (int i = 0; i < Model.Count / Model.ChatsPerPage + 1; i++)
        {
            <a asp-controller="User" asp-action="GetChats" asp-route-id="@Model.UserId" asp-route-pageNumber="@(i+1)" class="btn btn-primary">@(i + 1)</a>
        }
    }
    else throw new Exception("Ilosc czatow na strone nie moze byc mniejsza badz rowna 0");

}


